body {
  margin: 0;
  font-family: 'Circular', 'Helvetica Neue', 'Arial', sans-serif;
}
.header{
  width:100%;
  height:100px;
  background-color: #F4B319;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headertext{
  color:white;
  margin-left: 4%;
  font-weight: 500;
}
.inputcontainer{
  display: flex;
  flex-direction: column;
  width:500px;
  height:200px;
  gap:50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adds subtle shadow */
  border-radius: 5px; /* Slightly rounded corners */
  padding:5px;
  margin-top: 75px;
  margin-left: 34.79296875%;
}
.headinginput{
  height:50px;
  border: none;
  outline: none; 
  resize: none; 
  font-size: 30px;
  font-weight: 600px;
}
.descinput{
  height:150px;
  border:none;
  outline: none; 
  resize: none; 
  font-size: 25px;
  font-weight: 400px;
}
.add{
  height:40px;
  width:40px;
  background-color: #F4B319;
  color:white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  margin-top: 190px;
  margin-left: 440px;
  cursor:pointer;
}
.notecontainer{
  min-height:436px;
  margin-top: 50px;
  width:92%;
  margin-left: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:50px;
}
.notecard{
  width:250px;
  min-height:160px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adds subtle shadow */
  border-radius: 5px; /* Slightly rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}
.noteheading{
  min-height: 40px;
}
.notedesc{
  min-height: 80px;
}
.delete{
  font-size: 20px;
  margin-left: 60%;
  font-size: 15px;
  color:#F4B319
}